*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 30px auto;
}

h2 {
  margin-top: 70px;
  margin-left: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
}

#main-form label {
  margin-top: 15px;
  margin-bottom: 5px;
}
#main-form input {
  height: 35px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  background-color: #ddd;
}

#main-form input[type="submit"] {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  background-color: lightgreen;
  transition: transform 300ms ease;
}

#main-form input[type="submit"]:hover {
  transform: scale(1.1);
}

input[type="submit"] {
  cursor: pointer;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 40px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  text-align: center;
  background-color: tomato;
  height: 200px;
  clip-path: polygon(0 30%, 100% 30%, 100% 70%, 0 70%);
  transition: all 500ms ease;
  color: white;
  position: relative;
}
.post:hover {
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
}

.hidden {
  display: none;
}

.delete-form {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 50px;
  width: 50px;
}

.delete-button {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  transition: background 300ms, transform 300ms, color 300ms ease-out;
}

.delete-button:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: tomato;
}
